body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f4;
}

h1 {
    color: #e34c26;
}

nav a {
    text-decoration: none;
    margin-right: 15px;
    color: blue;
}

section {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

img {
    display: block;
    margin: 20px auto;
    width: 250px;
    border-radius: 10px;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: gray;
}

ul, ol {
    margin-left: 25px;
    line-height: 1.8;
}

dl {
    margin-top: 20px;
}

dt {
    color: #e34c26;
    font-size: 20px;
}

dd {
    margin-left: 20px;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #e34c26;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f8f8f8;
}

tr:hover {
    background-color: #ffe8df;
}

form{
    width:80%;
    margin:auto;
}

input,
select,
textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
    box-sizing:border-box;
}

input[type="radio"],
input[type="checkbox"]{
    width:auto;
    margin-right:8px;
}

input[type="submit"],
input[type="reset"]{
    width:140px;
    background:#e34c26;
    color:white;
    border:none;
    cursor:pointer;
    font-size:16px;
}

input[type="submit"]:hover,
input[type="reset"]:hover{
    background:#c63d18;
}
