.container{
    text-align:center;
    margin-top:50px;
    font-family:Arial;
}

h1{
    color:#dd0031;
}

input{
    padding:10px;
    width:250px;
}

button{
    padding:10px 20px;
    cursor:pointer;
}
